:root {
  --darkblue: #614bc3;
  --bgcolor: #e3f4f4;
  --profileclr: #33bbc5;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bgcolor) !important;
  font-family: "Rubik", sans-serif;
  display: flex;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5%;
  height: 9vh;
  width: 99vw;
  background-color: var(--darkblue);
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  gap: 2vw;
}
.section {
  width: 100vw;
}

.section.tasks {
  margin-bottom: 4rem;
}

.userinfo {
  height: 30vh;
}

.card1 {
  width: 33%;
  height: 30vh;
  background: var(--bgcolor);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  transition-duration: 0.5s;
  padding-inline: 2vw;
  gap: 1vw;
}

.profileImage {
  background: linear-gradient(to right, var(--darkblue), var(--darkblue));
  height: 70%;
  width: 40%;
  border-radius: 50%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

.textContainer {
  width: 80%;
  height: 60%;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.name {
  margin: 0;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.tasks {
  display: flex;
  flex-direction: row;
  height: 60vh;
}

.tasks .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: var(--bgcolor); */
  width: 25%;
  height: 100%;
  margin-inline: 0.5vw;
  border-radius: 2% !important;
  border: 1% solid blue !important;
  overflow: hidden;
}

@property --progress-value {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes progress {
  to {
    --progress-value: 75;
  }
}

.progress-bar {
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(
      closest-side,
      var(--bgcolor) 79%,
      transparent 80% 100%
    ),
    conic-gradient(
      var(--darkblue) calc(var(--progress-value) * 1%),
      var(--profileclr) 0
    );
  animation: progress 2s 1 forwards;
}

.progress-bar::before {
  counter-reset: percentage var(--progress-value);
  content: counter(percentage) "%";
  animation: progress 2s 1 forwards;
}

.rewards {
  display: flex;
  flex-direction: column;
  gap: 7vh;
  width: 90%;
  height: fit-content;
  align-items: center;
}

.threshold {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.form-container {
  z-index: 20 !important;
  position: fixed;
  align-self: center;
  width: 25vw;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container button:active {
  scale: 0.95;
}

.form-container .logo-container {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.form-container .form {
  display: flex;
  flex-direction: column;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-container .form-group input,
select {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.form-container .form-group input::placeholder,
select,
#duedate {
  opacity: 0.5;
}

.form-container .form-group input:focus,
select:focus {
  outline: none;
  border-color: #1778f2;
}

.form-container .form-submit-btn,
#add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: var(--darkblue);
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

#add-task {
  margin-inline: 3vw;
  width: auto;
}

.form-container .form-submit-btn:hover {
  background-color: var(--profileclr);
}

.task-item input[type="checkbox"] + label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.add-container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 19 !important;
  background-color: rgba(0, 0, 0, 0.588);
}

.hidden {
  display: none;
}

.title {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding-block: 0.5rem;
  background-color: var(--darkblue);
  color: white;
}

.reward-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: fit-content;
  text-align: center;
  padding-block: 0.5rem;
}

.reward-title img {
  align-self: center;
  position: absolute;
  left: 1vw;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 80%;
}

#close-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  z-index: 21 !important;
}

.task-list label {
  display: none;
}

.card__progress {
  /* width: 15.5vw; */
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.card__progress .val {
  right: 1.5vw;
  position: absolute;
  height: 10px;
  width: 10px;
  font-size: xx-small;
}

.rewardbox {
  background-color: #ffd966;
}
